.nav a {
  margin-right: 16px;
  margin-left: 16px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.heading_first {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(253, 106, 53);
}

.heading_second {
  background: rgba(252, 85, 8, 0.5);
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.banner_image {
  background-image: url("./resources/Banner.png");
  background-position: center;
  background-size: cover;
}
.meet {
  color: rgb(253, 106, 53);
  border-bottom: 4px solid rgb(253, 106, 53);
}
.orange {
  color: rgb(253, 106, 53);
}
.message {
  border-bottom: 3px solid rgb(253, 106, 53);
}

input {
  background: rgb(245, 245, 245) !important;
  border-left: 5px solid rgb(180, 176, 176) !important;
}
.meassage {
  height: 6rem;
}

footer {
  background: orange;
  color: white;
}
